/* sm=600 */
/* md=900 */
/* lg=1200 */
/* xl=1600 */

@media screen and (min-width: 600px) {
	.section_action_btn {
		max-width: 30rem;
		padding: 1.5rem;
		flex-basis: 40%;
	}

	.section_action_container {
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 900px) {
	.section_action_container {
		width: 70%;
	}

	.footer ul {
		width: 70%;
	}
}

@media screen and (min-width: 1200px) {
	.header_nav_btn {
		display: inline-block;
	}

	.header_left {
		padding: 0 2rem;
		margin: 0 3rem;
	}

	.header_right {
		margin: auto 2rem;
	}

	.link_in_middle {
		display: none;
	}

	.section_action_container {
		width: 60%;
	}

	.footer ul {
		width: 50%;
	}
}

@media screen and (min-width: 1600px) {
	.footer ul {
		width: 40%;
	}

	.section_action_container {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.footer {
		max-width: 100%;
		background-color: black;
		align-self: flex-end;
		padding-bottom: 0px;
	}

	.footer_add {
		max-width: 100%;
		padding-bottom: 30px;
	}

	.fotter ul {
		flex-wrap: nowrap;
	}

	.section_action_container {
		bottom: 20%;
	}
}
